body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

input{
    outline: none;
    border: none;
    background-color: unset;
}

.main{
    width: 30rem;
    height: 40rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.mainimgmain{
    width: 20rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.mainimg{
    font-size: 2rem;
    color: darksalmon;
}
.maintext{
    font-size: 1.3rem;
    color: darksalmon;
    padding-left: 1rem;
    font-weight: bold;
}


.emailmain{
    width: 25rem;
    height: 3rem;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: row;
    border-top: 0.0625rem solid #d2d2d2;
    border-left: 0.0625rem solid #d2d2d2;
    border-right: 0.0625rem solid #d2d2d2;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.emailimg{
    color: #d2d2d2;
    padding-left: 1rem;
}

.passwordmain{
    width: 25rem;
    height: 3rem;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: row;
    border: 0.0625rem solid #d2d2d2;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.passwordimg{
    color: #d2d2d2;
    padding-left: 1rem;
}

.mainmain{
    width: 25rem;
    height: 9rem;
    border: 0.0625rem solid #d2d2d2;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.namemain {
    width: 25rem;
    height: 3rem;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: row;
    border-bottom: 0.0625rem solid #d2d2d2;
}

.nameimg {
    color: #d2d2d2;
    padding-left: 1rem;
}

.birthmain {
    width: 25rem;
    height: 3rem;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: row;
    border-bottom: 0.0625rem solid #d2d2d2;
}

.birthimg{
    color: #d2d2d2;
    padding-left: 1rem;
}

.phonemain {
    width: 25rem;
    height: 3rem;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: row;
}

.phoneimg {
    color: #d2d2d2;
    padding-left: 1rem;
}

.joinbtu {
    width: 25rem;
    height: 3rem;
    border: 0.0625rem solid #b96262;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: darksalmon;
    color: white;
}

input{
    padding-left: 1rem;
}
