body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

input{
    border: none;
    outline: none;
    background-color: unset;
}

textarea{
    border: none;
}

a {
    text-decoration-line: none;
}


.main{
    width: 50rem;
    height: 30rem;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

form{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.mainmainmain{
    width: 40rem;
    height: 3.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: darksalmon;
}

.textmain{
    width: 40rem;
    height: 20rem;
    align-items: start;
    justify-content: start;
    display: flex;
    flex-direction: row;
}

.title{
    width: 10rem;
    height: 3rem;
    font-size: 1.3rem;
    border-bottom: 0.0625rem solid #ffffff;
    text-align: center;
    background-color: darksalmon;
    color: white;
    font-weight: bold;
}

.titletext{
    margin-left: 1rem;
    margin-top: 0.8rem;
    font-size: 0.8rem;
}

.maintitle {
    width: 30rem;
    height: 3rem;
    border-bottom: 0.0625rem solid #E9967AFF;
}

.title > div{
    margin-top: 0.5rem;
}

.titlemain{
    width: 30rem;
    height: 20rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 0.0625rem solid #ff8989;
}

.mainmain{
    width: 30rem;
    height: 20rem;
    border-top: 0.0625rem solid #ff8989;
    border-bottom: 0.0625rem solid #ff8989;
    border-right: 0.0625rem solid #ff8989;
    display: flex;
    flex-direction: column;
}

.texttitle{
    width: 10rem;
    height: 17rem;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: darksalmon;
    color: white;
    font-weight: bold;
}

.texttext{
    width: 29rem;
    height: 18rem;
}
.btumain{
    width: 40rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 0.5rem;
}

.save{
    width: 4rem;
    height: 2rem;
    border-radius: 0.2rem;
    background-color: darksalmon;
    color: white;
}
.save:hover{
    border: 0.0625rem solid black;
}

.again{
    width: 4.3rem;
    height: 2rem;
    margin-left: 0.5rem;
    border-radius: 0.2rem;
    background-color: darksalmon;
    color: white;
}
.again:hover{
    border: 0.0625rem solid black;
}

.listGo{
    width: 4.3rem;
    height: 2rem;
    margin-left: 0.5rem;
    border-radius: 0.2rem;
    background-color: darksalmon;
    color: white;
}
.listGo:hover{
    border: 0.0625rem solid black;
}

.modify{
    width: 4.3rem;
    height: 2rem;
    margin-left: 0.5rem;
    border-radius: 0.2rem;
    background-color: darksalmon;
    color: white;
}

.delete{
    width: 4.3rem;
    height: 2rem;
    margin-left: 0.5rem;
    border-radius: 0.2rem;
    background-color: darksalmon;
    color: white;
}

.textdelete{
    width: 2.5rem;
    height: 1.5rem;
    margin-left: 1.3rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.textlist{
    width: 4rem;
    height: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}