<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main/resources/stylesheets/postmain.css"/>
    <script src="https://kit.fontawesome.com/7f0b80e413.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="main">
    <div class="mainimg">
        <div class="img">
            <i class="fa-regular fa-pen-to-square"></i>
        </div>
        <div class="maintext">게시판</div>
        <div class="mypagemain">
            <a th:if="${session.loginVo1 == null}"
               th:href="@{/user/login}" class="login">로그인</a>
            <a th:if="${session.loginVo1 == null}"
               th:href="@{/user/join}" class="join">회원가입</a>
            <div th:if="${session.loginVo1 != null}" th:text="${session.loginVo1.getName()+'님'}" class="login"></div>
            <a th:if="${session.loginVo1 != null}" th:href="@{/main/mypage}" class="mypage">마이페이지</a>
            <a th:if="${session.loginVo1 != null}" th:href="@{/user/logout}" class="join">로그아웃</a>
        </div>
    </div>
    <form action="/main/find">
        <select name="findSelect" class="full" id="long">
            <option value="title">제목</option>
            <option value="textName">작성자</option>
        </select>
        <input class="find" type="text" name="find" placeholder="검색해주세요">
        <input class="findbtu" type="submit" value="검색">
        <a th:href="@{/main/textadd}" class="textbtu">글쓰기</a>
    </form>
    <table>
        <thead>
        <tr class="head">
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:onclick="'location.href=\''+ @{/main/textclick(index=${mainDto.getIndex()})} + '\''"
            th:each="mainDto : ${userTableVo.getMainEntities()}" class="tbody">
            <td th:text="${mainDto.getIndex()}"></td>
            <td th:text="${mainDto.getTitle()}"></td>
            <td th:text="${mainDto.getName()}"></td>
            <td th:text="${#dates.format(mainDto.getTextDate(),'YYYY-MM-dd')}"></td>
            <td th:text="${mainDto.getHits()}"></td>
        </tr>
        </tbody>
    </table>
    <div class="total" th:if="${id.equals('find2')}">
        <a th:if="${userTableVo.getMinPage() < userTableVo.getRequestPage()}"
           th:href="@{'/main/postmain/' + ${userTableVo.getMinPage()}}">&lt;&lt;</a>

        <a th:if="${userTableVo.getMinPage() < userTableVo.getRequestPage()}"
           th:href="@{'/main/postmain/' + ${userTableVo.getRequestPage() - 1}}">&lt;</a>

        <a th:each="page: ${#numbers.sequence(userTableVo.getStartPage(), userTableVo.getRequestPage()-1)}"
           th:href="@{'/main/postmain/' + ${page}}"
           th:text="${page}"
           th:if="${userTableVo.getRequestPage() > userTableVo.getMinPage()}"></a>

        <a th:text="${userTableVo.getRequestPage()}"></a>

        <a th:each="page: ${#numbers.sequence(userTableVo.getRequestPage() + 1, userTableVo.getEndPage())}"
           th:href="@{'/main/postmain/' + ${page}}"
           th:text="${page}"
           th:if="${userTableVo.getRequestPage() < userTableVo.getMaxPage()}"></a>

        <a th:if="${userTableVo.getMaxPage() > userTableVo.getRequestPage()}"
           th:href="@{'/main/postmain/' + ${userTableVo.getRequestPage() + 1}}">&gt;</a>

        <a th:if="${userTableVo.getMaxPage() > userTableVo.getRequestPage()}"
           th:href="@{'/main/postmain/' + ${userTableVo.getMaxPage()}}">&gt;&gt;</a>
    </div>

    <div class="total" th:if="${id.equals('find')}">
        <a th:if="${userTableVo.getMinPage() < userTableVo.getRequestPage()}"
           th:href="@{'/main/find/' + ${userTableVo.getMinPage()}(findSelect= ${userTableVo.getFindSelect()},find=${userTableVo.getFind()})}">&lt;&lt;</a>

        <a th:if="${userTableVo.getMinPage() < userTableVo.getRequestPage()}"
           th:href="@{'/main/find/' + ${userTableVo.getRequestPage() - 1}(findSelect= ${userTableVo.getFindSelect()},find=${userTableVo.getFind()})}">&lt;</a>

        <a th:each="page: ${#numbers.sequence(userTableVo.getStartPage(), userTableVo.getRequestPage()-1)}"
           th:href="@{'/main/find/' + ${page}(findSelect= ${userTableVo.getFindSelect()},find=${userTableVo.getFind()})}"
           th:text="${page}"
           th:if="${userTableVo.getRequestPage() > userTableVo.getMinPage()}"></a>

        <a th:text="${userTableVo.getRequestPage()}"></a>

        <a th:each="page: ${#numbers.sequence(userTableVo.getRequestPage() + 1, userTableVo.getEndPage())}"
           th:href="@{'/main/find/' + ${page}(findSelect= ${userTableVo.getFindSelect()},find=${userTableVo.getFind()})}"
           th:text="${page}"
           th:if="${userTableVo.getRequestPage() < userTableVo.getMaxPage()}"></a>

        <a th:if="${userTableVo.getMaxPage() > userTableVo.getRequestPage()}"
           th:href="@{'/main/find/' + ${userTableVo.getRequestPage() + 1}(findSelect= ${userTableVo.getFindSelect()},find=${userTableVo.getFind()})}">&gt;</a>

        <a th:if="${userTableVo.getMaxPage() > userTableVo.getRequestPage()}"
           th:href="@{'/main/find/' + ${userTableVo.getMaxPage()}(findSelect= ${userTableVo.getFindSelect()},find=${userTableVo.getFind()})}">&gt;&gt;</a>
    </div>
</div>

</body>
</html>