<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main/resources/stylesheets/postmain.css"/>
    <script src="https://kit.fontawesome.com/7f0b80e413.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="main">
    <div class="mainimg">
        <div class="img">
            <i class="fa-regular fa-pen-to-square"></i>
        </div>
        <div class="maintext">게시판</div>
        <a th:if="${session.loginVo1 == null}"
           th:href="@{/user/login}" class="login">로그인</a>
        <a th:if="${session.loginVo1 == null}"
                th:href="@{/user/join}"class="join">회원가입</a>
        <div th:if = "${session.loginVo1 != null}" th:text="${session.loginVo1.getName()+'님'}" class="login"></div>
        <a th:if="${session.loginVo1 != null}" th:href="@{/user/logout}" class="join">로그아웃</a>
    </div>
    <form>
        <select class="full" id="long">
            <option>번호</option>
            <option>제목</option>
            <option>작성자</option>
            <option>작성일</option>
        </select>
        <input class="find" type="text" name="find" placeholder="검색해주세요">
        <input class="findbtu" type="submit" value="검색">
        <a th:href="@{/main/textadd}" class="textbtu">글쓰기</a>
    </form>
    <table>
        <thead>
        <tr class="head">
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "mainEntity : ${mainEntities}" class="tbody">
            <td th:text = "${mainEntity.getIndex()}"></td>
            <td th:text = "${mainEntity.getTitle()}"></td>
            <td th:text = "${mainEntity.getTextname()}"></td>
            <td th:text = "${mainEntity.getTextdate()}"></td>
            <td th:text = "${mainEntity.getTextdate()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>