<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.findtest.mappers.IMainMapper">

    <select id="selectMain"
            resultType="com.example.findtest.dtos.MainDto">
        SELECT `post`.`index`    AS `index`,
               `post`.`title`    AS `title`,
               `post`.`contents` AS `contents`,
               `post`.`textdate` AS `textDate`,
               `post`.`hits`     AS `hits`,
               `join`.`name`     AS `name`
        FROM `table`.`post` AS `post`
                 LEFT JOIN `table`.`join` AS `join` ON `post`.`user_id` = `join`.`index`
    </select>

    <select id="selectmypage"
            resultType="com.example.findtest.dtos.MainDto">
        SELECT `post`.`index`    AS `index`,
               `post`.`title`    AS `title`,
               `post`.`contents` AS `contents`,
               `post`.`textdate` AS `textDate`,
               `post`.`hits`     AS `hits`,
               `post`.`user_id`  AS `userId`,
               `join`.`name`     AS `name`
        FROM `table`.`post` AS `post`
                 LEFT JOIN `table`.`join` AS `join` ON `post`.`user_id` = `join`.`index`
        WHERE `post`.`user_id` = #{index}
    </select>

    <select id="selectfind"
            resultType="com.example.findtest.dtos.MainDto">
        SELECT `post`.`index` AS `index`,
        `post`.`title` AS `title`,
        `post`.`contents` AS `contents`,
        `post`.`textdate` AS `textDate`,
        `post`.`hits` AS `hits`,
        `post`.`user_id` AS `userId`,
        `join`.`name` AS `name`
        FROM `table`.`post` AS `post`
        LEFT JOIN `table`.`join` AS `join` ON `post`.`user_id` = `join`.`index`
        WHERE
        <if test='findSelect.equals("title")'>
            REPLACE(`post`.`title`,'',' ') LIKE CONCAT('%',#{find},'%')
        </if>
        <if test='findSelect.equals("textName")'>
            REPLACE(`join`.`name`,'',' ') LIKE CONCAT('%',#{find},'%')
        </if>
        ORDER BY `index` DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="insertMain"
            parameterType="com.example.findtest.entities.MainEntity">
        INSERT INTO `table`.`post`(`title`, `textname`, `contents`, `hits`, `user_id`)
        VALUES (#{title}, #{textName}, #{contents}, #{hits}, #{userId})
    </insert>

    <select id="selectclick"
            parameterType="com.example.findtest.entities.MainEntity">
        SELECT `index`    AS `index`,
               `title`    AS `title`,
               `contents` AS `contents`,
               `hits`     AS `hits`
        FROM `table`.`post`
        WHERE `index` = #{index}
    </select>

    <update id="updatehits">
        UPDATE `table`.`post`
        SET `hits` = #{hits}
        WHERE `index` = #{index}
    </update>

    <delete id="deleteMain">
        DELETE
        FROM `table`.`post`
        WHERE `index` = #{index}
    </delete>

    <update id="updateMain"
            parameterType="com.example.findtest.entities.MainEntity">
        UPDATE `table`.`post`
        SET `title`    = #{title},
            `contents` = #{contents}
        WHERE `index` = #{index}
    </update>
    
    <select id="selectUserTable"
            resultType="com.example.findtest.dtos.MainDto">
        SELECT `post`.`index`    AS `index`,
               `post`.`title`    AS `title`,
               `post`.`contents` AS `contents`,
               `post`.`textdate` AS `textDate`,
               `post`.`hits`     AS `hits`,
               `join`.`name`     AS `name`
        FROM `table`.`post` AS `post`
                 LEFT JOIN `table`.`join` AS `join` ON `post`.`user_id` = `join`.`index`
        ORDER BY `index` DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="totalCount">
        SELECT COUNT(1)
        FROM `table`.`post`
    </select>

    <select id="findCount">
        SELECT COUNT(1)
        FROM `table`.`post`
        LEFT JOIN `table`.`join` AS `join` ON `post`.`user_id` = `join`.`index`
        WHERE
        <if test='findSelect.equals("title")'>
            REPLACE(`post`.`title`,'',' ') LIKE CONCAT('%',#{find},'%')
        </if>
        <if test='findSelect.equals("textName")'>
            REPLACE(`join`.`name`,'',' ') LIKE CONCAT('%',#{find},'%')
        </if>
    </select>

</mapper>