<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.findtest.mappers.IMainMapper">

    <select id="selectMain"
            resultType="com.example.findtest.entities.MainEntity">
        SELECT `index`    AS `index`,
               `title`    AS `title`,
               `textname` AS `textname`,
               `hits`     AS `hits`
        FROM `table`.`post`
        WHERE `user_id` = #{index}
    </select>

    <insert id="insertMain"
            parameterType="com.example.findtest.entities.MainEntity">
        INSERT INTO `table`.`post`(`title`, `textname`, `hits` , `user_id`)
        VALUES (#{title}, #{textname}, #{hits} , #{userId})
    </insert>

</mapper>