<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href= "/user/resources/stylesheets/join.css" />
    <script src="https://kit.fontawesome.com/7f0b80e413.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="main">
    <div class="mainimgmain">
        <div class="mainimg">
            <i class="fa-regular fa-pen-to-square"></i>
        </div>
        <div class="maintext">회원가입</div>
    </div>
    <form>
        <div class="emailmain">
            <div class="emailimg">
                <i class="fa-regular fa-user"></i>
            </div>
            <input type="text" name="email" placeholder="아이디(이메일)">
        </div>
        <div class="passwordmain">
            <div class="passwordimg">
                <i class="fa-solid fa-lock"></i>
            </div>
            <input type="text" name="password" placeholder="비밀번호">
        </div>
        <div class="mainmain">
            <div class="namemain">
                <div class="nameimg">
                    <i class="fa-regular fa-user"></i>
                </div>
                <input type="text" name="name" placeholder="이름">
            </div>
            <div class="birthmain">
                <div class="birthimg">
                    <i class="fa-solid fa-calendar-days"></i>
                </div>
                <input type="date" name="birthdate" placeholder="생년월일 8자리">
            </div>
            <div class="phonemain">
                <div class="phoneimg">
                    <i class="fa-solid fa-mobile-screen"></i>
                </div>
                <input type="number" name="phonenumber" placeholder="휴대전화번호">
            </div>
        </div>
        <input class="joinbtu" type="submit" value="회원가입">
    </form>
</div>

</body>
</html>