<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href= "/user/resources/stylesheets/login.css" />
    <script src="https://kit.fontawesome.com/7f0b80e413.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="main">
        <div class="mainmain">
            <div class="mainimg">
                <i class="fa-regular fa-pen-to-square"></i>
            </div>
            <div class="maintext">게시판 만들기</div>
        </div>
    <form class="logmainmain">
        <div class="logmain">
            <div class="login">
                <div class="idimg">
                    <i class="fa-regular fa-user"></i>
                </div>
                <input type="text" placeholder="아이디(이메일)" class="id">
            </div>
            <div class="passwordmain">
                <div class="passimg">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <input type="text" placeholder="비밀번호" class="password">
            </div>
            <input class="logbtu" type="submit" value="로그인">
        </div>
    </form>
    <div class="joinmain">
        <a class="findpassword">비밀번호 찾기</a>
        <a class="idfind">아이디 찾기</a>
        <a class="join">회원가입</a>
    </div>
</div>
</body>
</html>