<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href= "/user/resources/stylesheets/login.css" />
    <script src="https://kit.fontawesome.com/7f0b80e413.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="main">
    <div class="mainimg">
        <i class="fa-regular fa-pen-to-square"></i>
    </div>
    <from class="logmain">
        <from class="login">
            <div class="idimg">
                <i class="fa-regular fa-user"></i>
            </div>
            <input type="text" placeholder="아이디(이메일)" class="id">
            <div class="passimg">
                <i class="fa-solid fa-lock"></i>
            </div>
            <input type="text" placeholder="비밀번호" class="password">
            <input type="submit" value="로그인">
        </from>
    </from>
    <div class="joinmain">
        <a class="findpassword">비밀번호 찾기</a>
        <div class="findleftrot"></div>
        <a class="idfind">아이디 찾기</a>
        <div class="findrightrow"></div>
        <a class="join">회원가입</a>
    </div>
</div>
</body>
</html>