<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/user/resources/stylesheets/logtext.css">
</head>
<body>
<div class="main">
  <div class="mainmainmain">게시글 등록</div>
  <form method="post">
    <input hidden="hidden" type="text" name="index" th:value="${mainEntity.getIndex()}">
    <div class="textmain">
      <div class="titlemain">
        <div class="title">
          <div>제목</div>
        </div>
        <div class="texttitle">
          <div>내용</div>
        </div>
      </div>
      <div class="mainmain">
        <div>
          <input type="text" name="title" class="titletext" th:value="${mainEntity.getTitle()}">
        </div>
        <input type="text" class="texttext" name="contents" th:value="${mainEntity.getContents()}">
      </div>
    </div>
      <div class="btumain">
        <input type="submit" value="수정" th:href="@{/main/logtext(index=${mainEntity.getIndex()})}" class="modify">
        <a th:href="@{/main/delete(index=${mainEntity.getIndex()})}" class="delete">삭제</a>
        <input class="again" type="reset" value="다시입력">
        <a th:href="@{/main/postmain}" class="listGo">목록으로</a>
      </div>
  </form>
</div>

</body>
</html>