<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/user/resources/stylesheets/textadd.css">
</head>
<body>
<div class="main">
  <div class="mainmainmain">게시글 등록</div>
  <form>
    <div class="textmain">
      <div class="titlemain">
        <div class="title">
          <div>제목</div>
        </div>
        <div class="texttitle">
          <div>내용</div>
        </div>
      </div>
      <div class="mainmain">
        <div>
          <input class="titletext" type="text" placeholder="제목을 입력해주세요.">
        </div>
        <input class="texttext" type="text" placeholder="내용을 입력해주세요.">
      </div>
    </div>
    <div class="btumain">
      <input class="save" type="submit" value="저장">
      <input class="again" type="reset" value="다시입력">
      <a th:href="@{/main/postmain}" class="listGo">목록으로</a>
    </div>
  </form>
</div>

</body>
</html>