body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

input{
    border: none;
    outline: none;
    background-color: unset;
    border-radius: 0.2rem;

}

select{
    border: none;
    outline: none;
    background-color: unset;
    color: #b7b7b7;
    padding-left: 0.5rem;
}

select:hover{
    border: 0.0625rem solid black;
    color: black;
}

.main{
    width: 50rem;
    height: 30rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: relative;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
}

.mainimg{
    width: 50rem;
    height: 4rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
}
.img{
    font-size: 2rem;
    color: darksalmon;
}
.maintext{
    font-size: 2rem;
    color: darksalmon;
    margin-left: 0.5rem;
    font-weight: bold;

}
.mypagemain{
    width: 41rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.login{
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

.join{
    font-size: 0.8rem;
    border-left: 0.0625rem solid black;
    padding-left: 0.5rem;
}
.mypage{
    font-size: 0.8rem;
    border-left: 0.0625rem solid black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

form{
    width: 50rem;
    height: 3rem;
    align-items: center;
    justify-content: start;
    display: flex;
}

.full{
    width: 6rem;
    height: 2.25rem;
    border: 0.0625rem solid #b7b7b7;
    border-radius: 0.2rem;
}

.find{
    width: 15rem;
    height: 2rem;
    border: 0.0625rem solid #b7b7b7;
    margin-left: 0.5rem;
}
.find:hover{
    border: 0.0625rem solid black;
}

.findbtu{
    width: 3rem;
    height: 2.3rem;
    border: 0.0625rem solid #b7b7b7;
    margin-left: 0.5rem;
    color: #8d8d8d;
}
.findbtu:hover{
    border: 0.0625rem solid black;
    color: black;
}
.textbtu{
    width: 5rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid #b7b7b7;
    border-radius: 0.5rem;
    margin-left: 20rem;
    color: #8d8d8d;
}
.textbtu:hover{
    border: 0.0625rem solid black;
    color: black;
}

table{
    width: 50rem;
    height: 3rem;
    border-collapse: collapse;
    text-align: center;
    margin-top: 0.5rem;
}

.head{
    width: 50rem;
    height: 3rem;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: darksalmon;
    color: white;
}

th{
    border-top: 0.0625rem solid #ff8989;
    border-bottom: 0.0625rem solid #ff8989;
}

td{
    height: 2rem;
    border-bottom: 0.0625rem solid #b7b7b7;
    color: #b7b7b7;
}

tr:hover > td{
    color: black;
}

.total{
    width: 10rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
}


